.header {
  padding-bottom: 10px;
}
.logo {
  width: 150px;
  height: 60px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.menu {
  display: flex;
  justify-content: center;
}
